*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --body: navy;
    --headerAndFooter: black;
    --secondary: white;

}

@property --top-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
/* Navbar */
img[alt="logo"]{
    aspect-ratio: 1/1;
    width: 5rem;
    object-fit: cover;
    object-position: center;
}

/* Navbar&Footer */

:is(.navbar, footer){
    background-color: var(--headerAndFooter);
}

:is(.nav-link){
    color: var(--secondary);
}
