*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --body: navy;
    --headerAndFooter: black;
    --secondary: white;
    --fav: #4F77A9 ;

}

@property --top-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
/* Navbar */
img[alt="logo"]{
    aspect-ratio: 1/1;
    width: 5rem;
    object-fit: cover;
    object-position: center;
}

/* Navbar&Footer */

:is(.navbar, footer){
    background-color: var(--fav);
}

:is(.nav-link){
    color: var(--secondary);
}

/* Grid layout */
:is(body){
    display: grid;
    text-align: center;

}
/* Create 3 rows */
:is(body){
    grid-template-rows: auto minmax(100%,100dvh) auto;
}

a{
    transition: all .5s;
    &:hover{
        transform: scale(1.2);
        text-decoration: underline;
    }
}