*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --body: navy;
    --headerAndFooter: grey;

}

@property --top-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}